@use '/src/common/styles/colors' as *;
@use '/src/common/styles/templates' as *;

.pagination{
  @extend %flex-center;
  color: $yellow;
}
.page{
  background-color: $yellow;
  color: black;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  transform: translateY(-3px);
}