@use '/src/common/styles/colors' as *;

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin: 0 0.5em;
    &:hover{
      background-color: $lightYellow;
      color: $text-light;
    }
    a {
      padding: 0.5em;
      text-transform: capitalize;
      
    }
  }
}
