@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.relative {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}

.wrapper {
  @extend %limit-width;
  h1,
  h2 {
    text-align: center;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $m) {
    flex-direction: row;
  }
  section:last-child {
    margin-left: 20px;
    @media screen and (min-width: $m) {
      max-width: 25%;
    }
  }
}

.section-posts {
  display: flex;
  margin-top: 4rem;

  .featured-post {
    width: 85%;
    > h2 {
      text-align: left;
      padding: 0 0.5rem;
    }
    p {
      width: 80%;
    }
  }
  .all-post {
    h3 {
      margin: 0;
    }
    p {
      font-size: 0.8rem;
      padding-right: 30px;
    }
  }
}
