@use '/src/common/styles/breakpoints' as *;
@use '/src/common/styles/templates' as *;

.header{
  @extend %limit-width;
}

.header-top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  p{
    margin: 0;
    span{
      padding-right: 0.5rem;
    }
  }
}

.header-spinner{
  width: 200px;
  height: 3rem;
}

.header-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  @media screen and (max-width: $s) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo{
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}