@use '/src/common/styles/templates' as *;

.form{
  @extend %flex-column;
  label{
    @extend %flex-column;
    margin-bottom: 1em;
    input{
      padding: 0.5em;
    }
  }
}
.password{
  position: relative;
}
.eye{
  position: absolute;
  top: 27px;
  right: 10px;
}